.hotel
    padding-top: 23px
    padding-bottom: 70px
    &-info
        display: flex
        align-items: center
        justify-content: space-between
        &__offer
            margin-left: 14px
            margin-top: 4px
            padding: 3px 9px 4px 9px
            font-size: 10px
            line-height: 13px
            background-color: $button-color
            color: $text-light
            border-radius: 3px
        &__description
            font-size: 12px
            line-height: 15px
            color: $text-color
            margin: 0
        &__hotel-name
            text-transform: uppercase
            margin-top: 4px
            margin-bottom: 0px
            font-size: 24px
            line-height: 30px
            color: $text-color
    &-wrapper
        display: flex
        flex-wrap: wrap
        align-items: center
.stars
    flex-basis: 100%
.rating
    max-width: 65px
    min-height: 45px
    background-color: $button-color
    border-radius: 4px
    text-align: center
    color: $text-light
    &__text
        font-size: 8px
        line-height: 10px
    &__counter
        font-size: 14px
        line-height: 18px